<div class="row">
    <div class="span9 hero-unit">
        <h1>Kickoff</h1>
        <p>A simple template for HTML5 <a href="http://www.sinatrarb.com/documentation">Sinatra</a> apps</p>
    </div>
</div>
