<div class='row'>
  <div class='col-md-7'>
    <hr>
    <code>$ git clone git://github.com/robomc/kickoff.git</code>
    <hr>
  </div>
</div>
<div class='row'>
  <div class='col-md-5'>
    <h2>Useful front-end defaults</h2>
    <ul>
    	<li>Clean <a href="http://www.kuwata-lab.com/erubis/">erb</a> template with <a href="http://code.google.com/p/html5shiv/">HTML5 Shiv v3</a> fallback.</li>
    	<li><a href="http://twitter.github.com/bootstrap/">Twitter bootstrap</a> stylesheets and ui elements.</li>
    	<li><a href="http://jquery.com/">Jquery</a> with Bootstrap plugins included by default.</li>
    	<li>Bootstrap <a href="http://www.lesscss.org/">less</a> compiled on the fly by rack.</li>
    	<li><a href="http://code.google.com/p/google-code-prettify/">Google prettify</a> syntax highlighting enabled by default.</li>
    </ul>
  </div>
  <div class='col-md-5'>
    <h2>Backend essentials and tweaks</h2>
    <ul>
    	<li><a href="http://datamapper.org/">Datamapper</a> and <a href="http://redis.io/">Redis</a> libraries with sensible defaults.</li>
    	<li>Session flash ready to go &#8211; refresh this page.</li>
    	<li>Migration and data seeding scripts.</li>
    	<li><a href="https://github.com/hassox/warden">Warden</a> authentication template.</li>
    	<li>Static files served by rack in development mode.</li>
    </ul>
  </div>
</div>
